[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[user]
	name = Diego Borges
	email = drborges.cic@gmail.com
[alias]
	co = checkout
	br = branch -vv
	c = commit
	st = status -sb
	unstage = reset HEAD --
	last = log -1 HEAD
	cm = commit -m
	rv = revert
[init]
	defaultBranch = main
